.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  font-size: 40px;
  text-align: center;
}

.container input,
.container textarea,
.container select {
  padding: 20px;
  background-color: var(--bgSoft);
  border: none;
  border-radius: 5px;
  color: var(--textColor);
}

.button {
  padding: 20px;
  cursor: pointer;
  background-color: var(--btn);
  border: none;
  border-radius: 5px;
  color: var(--textColor);
  font-weight: bold;
  width: 100%;
  max-width: 200px;
}
