.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  font-size: 40px;
  text-align: center;
}

.container select {
  padding: 20px;
  background-color: var(--bgSoft);
  border: none;
  border-radius: 5px;
  color: var(--textColor);
  font-family: var(--mainFont);
  font-weight: bold;
}

.input {
  padding: 20px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-family: var(--mainFont);
  font-weight: bold;
  background-color: var(--bgSoft);
  color: white;
  font-size: 20px;
}

.input::placeholder {
  font-family: var(--mainFont);
  color: rgb(195, 195, 195);
  font-size: 15px;
}

.button {
  padding: 20px;
  cursor: pointer;
  background-color: var(--btn);
  border: none;
  border-radius: 5px;
  color: var(--textColor);
  font-weight: bold;
  width: 100%;
  max-width: 200px;
}
