.container {
  display: flex;
  gap: 60px;
}

.imgContainer {
  flex: 3;
  position: relative;
  height: calc(100vh - 200px);
}

.img {
  object-fit: cover;
  border-radius: 20px;
  border: 2px solid black;
}

.textContainer {
  flex: 4;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.title {
  font-size: 64px;
  color: #e2904f;
}

.detail {
  display: flex;
  gap: 20px;
}

.detailText {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: var(--mainFont);
  font-weight: bold;
  font-size: 18px;
}

.detailTitle {
  color: gray;
  font-weight: bold;
}

.detailValue {
  font-weight: 500;
}

.content {
  font-size: 24px;
  font-family: var(--secondFont);
}

@media (max-width: 768px) {
  .imgContainer {
    display: none;
  }
}
